


<%- include("partials/header") -%>
<div class="cbod">

<center>
  <br>
  <br>
<h3  class="fb"style="color:black;">Movie Details</h3>
<br>
<br>


</center>
<center>
  <div class="fcontainer">



  <form  class= "" action="/compose" method="post" enctype="multipart/form-data" >
    <div class="form-group">
    <label  class="fb" style="color:white;" for="">Name Of Movie</label>
    <input class="form-control" type="text" name="nam">
    <label  class="fb" style="color:white;" for="">Release Year</label>
    <input class="form-control" type="text" name="k">
    <label  class="fb" style="color:white;" for="">Description</label>
    <textarea class ="form-control" name="p" rows="8" cols="80"></textarea>
      <label  class="fb" style="color:white;" for="">Add Image</label>
    <input  type="file" class="form-control" name="file" required>

    </div>
      <button  style="color:black" class="btn btn-danger fb" type="submit" name="but">MAKE IT PUBLIC</button>
      </form>
   </div>
</center>



</div>
